<ion-content>
  <app-header></app-header>

  <div class="custom-card">
    <h2>Registrar Usuario Nuevo</h2>


    <ion-item>
      <ion-label position="floating">Nombre Completo:</ion-label>
      <ion-input [(ngModel)]="nombreComplet" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut:</ion-label>
      <ion-input [(ngModel)]="rut" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Usuario:</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Clave:</ion-label>
      <ion-input [(ngModel)]="clave" type="password"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Rol:</ion-label>
      <ion-select [(ngModel)]="rol">
        <ion-select-option value="alumno">Alumno</ion-select-option>
        <ion-select-option value="docente">Docente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail:</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>


    <ion-button (click)="registrouser()" class="custom-button" [disabled]="isLoading">
      Registrar
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-button>
    <p *ngIf="mensajeError" style="color: red;">{{ mensajeError }}</p>

    <p class="inicio-sesion" routerLink="/iniciosesion">
      ¿Ya tienes cuenta? Inicia sesión
    </p>
  </div>

  <app-footer></app-footer>
</ion-content>

